{% extends 'home.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .card {
            transition: transform 0.3s;
        }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
        }
    </style>
</head>
<body><br>
<div class="headline" style="font-size: 30px;font-weight: 900;color: rgb(58, 58, 56);text-align:center;">
    Popular Movies
</div><br>


<div class="movie-list" style="padding-left: 70px; padding-right: 70px;">
    <div class="row row-cols-1 row-cols-md-6 g-5">
        {% for movie in popular_movies %}
        <div class="col">
            <div class="card" style="height:270px;width:170px;">
                <a href="{% url 'movie_detail' movie.id %}">
                <img src="{{ movie.image_url }}" style="height: 225px; width: 100%;" class="card-img-top" alt="{{ movie.title }}">
                </a>
                <div class="card-body" style="font-size: 11px; font-weight: 800; color: rgb(58, 58, 56);text-align:center;">
                    <h5 class="card-title" style="font-size: 11px; font-weight: 800; color: rgb(58, 58, 56);text-align:center;">{{ movie.title }}</h5>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>

<div class="headline" style="font-size: 30px;font-weight: 900;color: rgb(58, 58, 56);text-align:center;">
    Popular WebSeries
</div><br>

<div class="movie-list" style="padding-left: 70px; padding-right: 70px;">
    <div class="row row-cols-1 row-cols-md-6 g-5">
        {% for series in popular_series %}
        <div class="col">
            <div class="card" style="height:260px;width:170px;">
                <img src="{{ series.image_url }}" style="height: 210px; width: 100%;" class="card-img-top"
                     alt="{{ series.title }}">
                <div class="card-body"
                     style="font-size: 11px; font-weight: 800; color: rgb(58, 58, 56); text-align: center;">
                    <h5 class="card-title" style="font-size: 11px; font-weight: 800; color: rgb(58, 58, 56);text-align:center;">{{ series.title }}</h5>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
{% endblock content%}
