{% extends 'home.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="headline"
     style="font-size: 30px; font-weight: 900; color: rgb(58, 58, 56); text-align:center; padding-top:20px;">
    Search results
</div>
<hr>

<div class="movie-list" style="padding-left:25px; padding-right:25px;">
    <div class="row row-cols-1 row-cols-md-6 g-4">
        {% for every in object_list %}
        <div class="col">
            <div class="card h-100">
                <div class="img">
                    <a href="{% url 'movie_detail' every.id %}">
                    <img src="{{every.image_url}}" style="height: 300px; width: 100%;" class="card-img-top"
                         alt="{{every.title}}">
                    </a>
                </div>
                <div class="card-body"
                     style="font-size: 11px; font-weight: 800; color: rgb(58, 58, 56);text-align:center;">
                    <h5 class="card-title"><a href="{% url 'movie_detail' every.pk %}">{{every.title}}</a></h5>
                    <p class="card-text">Language: {{every.language}}</p>
                    <p class="card-text">Genre: {{every.genre}}</p>
                </div>

            </div>
        </div>
        {% empty %}
        <h5>Nothing found</h5>
        {% endfor %}
    </div>
</div>

</body>
</html>
{% endblock content %}
